Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/Sci-FI_Troopers_Collection
/Content/ParagonWraith
/Content/Free_Sounds_Pack
/JobFwd-Front.png
/JobFwd-Side.png
